@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main {
  background-image: url(assets/images/bg.jpg);
  margin-left: 130px;
  /* background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw); */
  height: 62vh;
  width: 1240px;
  position: relative;
}

.main .box {
  height: 90vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
}

nav {
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 62px;
}

nav img {
  margin-top: 20px;
  color: red;
  width: 100px;
  position: relative;
  z-index: 20;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
  color: white;
  font-family: "Poppins", sans-serif;
}

.hero > :nth-child(1) {
  gap: 20px;
  font-size: 36px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-size: 18px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-size: 18px;
  text-align: center;
}

.hero-buttons button {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 100;
  color: white;
  height: 46px;
  width: 210px;
  background-color: #f50;
  border: none;
  border-radius: 4px;
}

.btns {
  display: flex;
  gap: 10px;
}
.btn-in {
  font-size: 14px;
  height: 30px;
  width: 70px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
}
.btn-ac {
  font-size: 14px;
  height: 30px;
  width: 150px;
  background-color: #f50;
  color: white;
  border: none;
  border-radius: 2px;
}
.btn-fa {
  font-size: 14px;
  height: 30px;
  width: 70px;
  background-color: transparent;
  color: white;
  border: none;
}

.input {
  margin-top: 50px;
  margin-left: 250px;
}

.input input {
  padding: 0 16px;
  border: none;
  border-radius: 2px;
  background-color: rgb(218, 215, 215);
  font-size: 15px;
  width: 50%;
  height: 50px;
}

.input button {
  font-size: 16px;
  height: 50px;
  width: 180px;
  background-color: #f50;
  color: white;
  border: none;
  border-radius: 2px;
}

.text {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 24px;
}

.section img {
  height: 170px;
  margin-left: 20px;
}

.section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.section h2 {
  margin-left: 20px;
}

.section a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: 100;
  margin-left: -20px;
}
.sec2 img {
  height: 170px;
  margin-left: 20px;
}

.sec2 {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sec2 h2 {
  margin-left: 20px;
}

.sec2 a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: 100;
  margin-left: -20px;
}

.tp {
  margin-left: 480px;
  margin-top: 30px;
  font-size: 18px;
  height: 50px;
  width: 280px;
  background-color: #f50;
  color: white;
  border: none;
  border-radius: 4px;
}

.ending {
  display: flex;
  margin-top: 50px;
  background-color: rgb(236, 233, 233);
  height: 470px;
}
.ending img {
  margin-top: 80px;
  margin-left: 70px;
}
.ending :nth-child(2) {
  font-size: 40px;
  margin-top: 100px;
  margin-left: 60px;
}

.ending :nth-child(3) {
  font-size: 24px;
  margin-top: 300px;
  margin-left: -180px;
}

.secimg {
  position: relative;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 3rem;
  top: 3rem;
  background: transparent;
  /* padding: 0 1rem; */
}

.btn-fm{
  margin-top: 20px;
  font-size: 18px;
  height: 50px;
  width: 180px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
}

.footer h2{
  font-size: 36px;
  font-weight: 100;
  margin-top: 50px;
  margin-left: 350px;
}

.footer h3{
  font-size: 24px;
  font-weight: 100;
  margin-top: 20px;
  margin-left: 320px;
}

.btn-ca{
  font-size: 18px;
  height: 45px;
  width: 200px;
  background-color: #f50;
  color: white;
  border: none;
  border-radius: 2px;
  margin-left: 505px;
  margin-top: 25px;
}

.footer h5{
  font-size: 12px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 475px;
}

.btn-sn{
  font-size: 16px;
  background: transparent;
  color: #333333;
  border: 0.5px solid #333333;
  width: 100px;
  height: 40px;
  margin-left: 10px;
}

.end{
  border: 0px solid  #333333;
  height: 250px;
  width: 1225px;
}

.end h3{
  font-weight: 100;
  color: #c2bebe;
  font-size: 15px;
  margin-top: 100px;
}

.end a{
  font-size: 14px;
  text-decoration: none;
  color: rgb(74, 74, 236);
}